// generate by ginpt
package main
{{$rootPath := .RootPath}}
import (
  "github.com/gin-gonic/gin"
{{if .Groups}}{{range .Groups}}
  "{{$rootPath}}/{{.PackagePath}}" {{end}}{{end}}
)

func registRoute(route *gin.Engine) {
{{if .Groups}}{{range .Groups}}
  // {{.Desc}}
  {{.PackageName}}.RegistRoute(route) {{end}}{{end}}
}
