import Vue from 'vue'
import {message} from 'element-ui'

const errHandler = (res) => {
  message.error('网络出错！')
  return Promise.reject(res)
}

const responseParse = response => {
  return response.json().then(json => {
    if (!json.success && json.error && json.error.content) {
      message.error(json.error.content)
    }
    return Promise.resolve(json)
  })
}
{{if .Groups}}{{range .Groups}}{{$pathPrefix := .RoutePrefix}}
// {{.Desc}}
class {{ .Name }} {{"{"}}{{if .Routes}}{{range .Routes}}
  // {{.Desc}}
  {{ camel .Name }} (data = {}) {{"{"}}{{ if contains .Method "GET" }}
    return Vue.http.get('{{$pathPrefix}}{{ .Path }}', { params: data }).then(responseParse).catch(errHandler){{ else }}
    return Vue.http.post('{{$pathPrefix}}{{ .Path }}', data).then(responseParse).catch(errHandler){{ end}}
  }{{end}}{{end}}
}
export const {{camel .Name}} = new {{ .Name }}(){{end}}{{end}}
