import Vue from 'vue'

const responseParse = response => {
  return response.json().then(json => {
    return Promise.resolve(json)
  })
}
{{if .Groups}}{{range .Groups}}{{$pathPrefix := .RoutePrefix}}
// {{.Desc}}
class {{ .Name }} {{"{"}}{{if .Routes}}{{range .Routes}}
  // {{.Desc}}
  {{ camel .Name }} (data = {}) {{"{"}}{{ if contains .Method "GET" }}
    return Vue.http.get('{{$pathPrefix}}{{ .Path }}', { params: data }).then(responseParse){{ else }}
    return Vue.http.post('{{$pathPrefix}}{{ .Path }}', data).then(responseParse){{ end}}
  }{{end}}{{end}}
}
export const {{camel .Name}} = new {{ .Name }}(){{end}}{{end}}
