// generate by ginpt
package {{.PackageName}}

import (
  "github.com/gin-gonic/gin"
  "github.com/domego/ginkits"
  "github.com/domego/ginkits/params"
)

var _ = kits.RenderSuccess
type BaseParam paramkits.BaseParam

{{range .Routes}}
// do{{.Name}} {{.Desc}}
func do{{.Name}}(c *gin.Context, params *{{.Name}}Args) {{if isNotEmpty .Result}}(result interface{}, hasError bool){{end}}{
  {{if isNotEmpty .Result}}return{{end}}
}
{{end}}
