// generate by ginpt
package {{.PackageName}}

import (
  "github.com/gin-gonic/gin"
  "github.com/domego/ginkits"
  "github.com/domego/gokits/log"
)

var _ = log.Tracef
var _ = kits.RenderSuccess

{{range .Routes}}
func do{{.Name}}(c *gin.Context, params *{{.Name}}Args) {
}
{{end}}
