// generate by ginpt
package {{.PackageName}}
{{ $allPost := .AllPost }}
import (
  "github.com/gin-gonic/gin"
)

func registRoute(route *gin.RouterGroup) {
  {{range .Routes}}
  route.{{upper .Method}}("{{.Path}}", Do{{.Name}}) {{if $allPost}}{{ if isNot .Method "post"}}
  route.POST("{{.Path}}", Do{{.Name}}) {{end}}{{end}}{{end}}
}
