// generate by ginpt
package {{.PackageName}}

import (
  "github.com/gin-gonic/gin"
  "github.com/lenbo-ma/ginkit"
  "github.com/lenbo-ma/gokits/log"
)

var _ = log.Tracef
var _ = kits.RenderSuccess

{{range .Routes}}
type {{.Name}}Args struct {
}

func Do{{.Name}}(c *gin.Context) {
  params := {{.Name}}Args{}
  {{if .Arguments}}
  c.Bind(&params)
  {{end}}
  do{{.Name}}(c, &params)
}
{{end}}
