// generate by ginpt
package {{.PackageName}}

import (
  "github.com/gin-gonic/gin"
  "github.com/lenbo-ma/ginkit"
  "github.com/lenbo-ma/gokits"
  "github.com/lenbo-ma/gokits/log"
)

var _ = log.Tracef
var _ = kits.RenderSuccess

{{range .Routes}}
type {{.Name}}Args struct {
  {{ if .Arguments }}
  {{range parseAPIArguments .Arguments}}
    {{.Name}} {{.Type}} `form:"{{underline .Name}}" json:"{{underline .Name}}"` {{end}}
  {{end}}
}

func Do{{.Name}}(c *gin.Context) {
  params := {{.Name}}Args{}
  {{if .Arguments}} c.Bind(&params)
    {{range parseAPIArguments .Arguments}}
      {{if isBuildIn .Type}}{{if not .Optional}}
        if utils.IsEmpty(params.{{.Name}}) {
          kits.RenderError(c, &kits.RespErrorMessage{
           Code: kits.ErrorCodeArgumentLack,
           Message: "{{underline .Name}} is required",
          })
          return
        } {{if isNotEmpty .Default}} else {
          params.{{.Name}} = {{.Default}}
        } {{end}}
      {{end}}{{end}}
    {{end}}
  {{end}}
  do{{.Name}}(c, &params)
}
{{end}}
