// generate by ginpt
package {{.PackageName}}
{{ $groupName := upperCamel .Name }}
import (
  "github.com/gin-gonic/gin"
  "github.com/domego/ginkits/middleware"
  {{range .RouteImports}}
  "{{.}}"{{end}}
)

var {{$groupName}}RouteGroup *gin.RouterGroup
func RegistRoute(route *gin.Engine) {
  {{$groupName}}RouteGroup = route.Group("{{.RoutePrefix}}")
  {{$groupName}}RouteGroup.Use(middleware.CommonHandler(),{{range .RouteHandlers}}{{.}},{{end}})
  registRoute({{$groupName}}RouteGroup)
}
